header {
  height: 50%;
  width: 100%;
  position: absolute; }
  header #headerBGDiv {
    height: 100%;
    width: 100%;
    position: absolute; }
    header #headerBGDiv #headerBGImage {
      height: 100%;
      width: 100%; }

nav {
  height: 15%;
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: 1000;
  background-color: white;
  border-bottom: solid teal 3px;
  border-top: solid teal 3px; }
  nav #links {
    position: relative;
    height: 45%;
    width: 60%;
    float: right;
    text-align: center;
    padding-top: 4%; }
  nav ul li {
    list-style-type: none;
    display: inline;
    padding-right: 3%; }
    nav ul li a {
      font-size: 2em;
      position: relative;
      font-family: Raleway;
      text-decoration: none;
      padding-bottom: 5px;
      color: teal;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    nav ul li a:hover {
      color: #761c19;
      text-decoration: none !important; }
    nav ul li a:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      border-bottom: solid #761c19 3px;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      -webkit-transition: 0.4s;
      transition: 0.4s; }
    nav ul li a:hover:after {
      width: 100%; }
    nav ul li a:focus {
      outline: none;
      color: #761c19;
      text-decoration: none;
      border-bottom: solid #761c19 3px; }

#lupusLogo {
  height: 98%;
  width: 30%;
  position: absolute; }

#mainContntArea {
  position: absolute;
  width: 100%;
  top: 65%; }

#teamsTable {
  position: relative;
  width: 90%;
  border: solid salmon 6px;
  border-radius: 10px;
  box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.75);
  left: 4.5%; }

.tableHeader {
  font-size: 1.3em;
  font-family: Raleway;
  color: black; }

.tableBody {
  color: teal;
  font-size: 1.2em; }

h1 {
  text-align: center; }

.header {
  color: saddlebrown;
  font-family: Raleway; }

html, body {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0; }
