
nav{
  height: 15%;
  width: 100%;
  text-align: center;
  z-index: 1000;
  position: fixed;
  top: 50%;
  border: solid black 3px;
}

section{
  height: 4000px;
}

h1{
  position: relative;
  top: 3000px;
}